.col-xs-6.col-xs-offset-2
  .panel.panel-primary
    .panel-heading
      %h4 Edit #{@payment_method.name}
    .panel-body
      = render 'form'

= link_to 'Show', @payment_method
\|
= link_to 'Back', payment_methods_path
