.col-xs-6.col-xs-offset-2
  .panel.panel-primary
    .panel-heading
      %h4 Edit Payment
    .panel-body
      = render 'form'

= link_to 'Show', order_payment_path(@order, @payment)
\|
= link_to 'Back', order_payments_path(@order)
