.col-xs-6.col-xs-offset-2
  .panel.panel-primary
    .panel-heading
      %h4 Edit #{@customer.full_name}
    .panel-body
      = render 'form'

= link_to 'Show', @customer
\|
= link_to 'Back', customers_path
