/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require plugins/metisMenu/metisMenu.min
 *= require sb-admin-2
 *= require font-awesome.min
 *= require line_items
 */

body{
  font-family: FontAwesome;
}

input[type="text"], .select2-search input, .select2-container-multi .select2-choices, 
input[type="password"], input[type="email"], input[type="date"], input[type="datetime"], 
input[type="time"], input[type="url"], input[type="number"], input[type="tel"], textarea, select.form-control, textarea.form-control, fieldset {
-webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 7px 10px;
  border: 1px solid #cee1f4;
  color: #5498da;
  font-size: 90%;
}
fieldset label, label {
  color: #809cb1;
  font-weight: 600;
  text-transform: uppercase;
  display: inline;
  margin-bottom: 5px;
}
.panel-primary>.panel-heading {
  color: #fff;
  background-color: #5498da;
  border-color: #5498da;
}
btn-primary {
  color: #fff;
  background-color: #5498da;
  border-color: #5498da;
}
#page-wrapper{
  padding-top: 10px;
}
.alert-notice {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-alert {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
form.search label{
  color: #fff;
}
.add_fields{
  float: right;
  margin-top: 10px;
}
select.date-select{
  float: left; 
  width: 32%; 
  margin-right: 3px; 
  margin-bottom:15px;
}