.col-xs-6.col-xs-offset-2
  .panel.panel-primary
    .panel-heading
      %h4 Edit #{@category.name}
    .panel-body
      = render 'form'


= link_to 'Show', @category
\|
= link_to 'Back', categories_path
