.col-xs-6.col-xs-offset-2
  .panel.panel-primary
    .panel-heading
      %h4 Edit Transaction
    .panel-body
      = render 'form'

= link_to 'Show', polymorphic_path([@source, @transaction])
\|
= link_to 'Back', polymorphic_path([@source, :transactions])