.col-xs-6.col-xs-offset-2
  .panel.panel-primary
    .panel-heading
      %h4 Edit #{@warehouse.name}
    .panel-body
      = render 'form'


= link_to 'Show', @warehouse
\|
= link_to 'Back', warehouses_path
